@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

 @model IEnumerable<Product>

<div class="row pb-3">

    @foreach(var product in Model)
    {
       <div class="col-lg-3 col-sm-6">
           <div class="row p-2">
               <div class="col-12 p1">
                   <div class="card border-0 p-3 shadow border-top border-5 rounded">
                       <img src="@product.ImgUrl" class="card-img-top rounded" />
                       <div class="card-body pb-0">
                          <div class="pl-1">
                             <p class="card-title h5 text-center">@product.Title</p>
                             <p class="card-title text-warning text-center"><b>by @product.Author</b></p>
                             <p class="card-title text-warning text-center"><b>Price: @product.Price</b></p>
                          </div>
                       </div>
                       <a asp-action="Details" asp-route-productId="@product.ProductId" class="btn btn-primary bg-gradient border-0 form-control">Show Details</a>
                   </div>
               </div>
           </div>

       </div>
    }
 </div>